html, body {
    min-height: 100vh;
    font-family: "Ubuntu", "Consolas", "Courier New", monospace;
}

body {
    overflow-x: hidden;
}

svg {
    width: 1rem;
    height: 1rem;
    display: block;
    fill: currentColor;
}