<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/general.html :: head}">
</head>
<body>
    <div class="is-flex is-flex-direction-column" style="gap: 2rem;">

        <div class="is-flex is-justify-content-space-between p-5">
            <div class="has-text-link is-flex is-justify-content-center is-align-items-center" style="gap: 0.75rem;">
                <div class="is-size-4 has-text-weight-bold" th:text="${admin.school.name}"></div>
                -
                <div class="has-background-link has-text-white" style="padding: 0.5rem 0.75rem; border-radius: 0.5rem;" th:text="${schoolCode}"></div>
            </div>
            <a href="/logout">
                <button class="button is-link is-outlined" type="button">Log Out</button>
            </a>
        </div>

        <div class="container has-text-centered">
          <div class="content is-large">
            <div class="block">
              <h1 class="title">
                  Hello, <span th:text="${admin.name}"></span>.
              </h1>
            </div>

              <div class="block">
                  <p class="subtitle">
                      View your teachers below.
                  </p>
              </div>

          </div>

          <div class="columns is-multiline is-centered mb-5">
            <div class="column is-5 is-one-quarter-desktop" style="min-height: 10rem;" th:each="staff, iter: ${staffList}">
                <a th:href="${'/' + staff.id}">
                    <button class="button is-link is-light is-flex is-flex-direction-column" type="button" style="width: 100%; height: 100%;">
                        <div class="" th:text="${staff.name}"></div>
                        <div class="">Rating: <span th:text="${ratings[iter.index].isNaN() ? '?' : ratings[iter.index]}"></span>/5</div>
                    </button>
                </a>
            </div>
          </div>

    </div>
      

</body>
</html>