<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/general.html :: head}">
</head>
<body>
    <section class="section">

        <div class="container has-text-right">
        <a href="/logout">
            <button class="button is-link is-outlined" type="button">
                Log Out
            </button>
        </a>
            <br>
            <br>
            <br>
            <br>


        <div class="container has-text-centered">
          <div class="content is-large">
            <div class="block">
              <h1 class="title">
                  Hello, {Teacher name}, your school's code is {school code}.
              </h1>
            </div>

              <div class="block">
                  <p class="subtitle">
                      Please choose a teacher below.
                  </p>
              </div>

          </div>
          <a href="teacherPage.html">
          <div class="list">
            <div class="list-item box" th:each="staff: ${staffList}">
                <a th:href="${'/' + staff.id}">
            
                    <!-- <div class="list-item-image">
                        <figure class="image is-64x64">
                        <img class="is-rounded" src="https://via.placeholder.com/128x128.png?text=Image">
                        </figure>
                    </div> -->
    
                    <div class="list-item-content">
                        <div class="list-item-title" th:text="${staff.name}"></div>
                        <div class="list-item-description"></div>
                    </div>
                </a>
            </div>
          </div>

    </section>
      

</body>
</html>