<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/general.html :: head}">
</head>
<body>
<section class="section" style="align-items: center;">
    <div class="container has-text-centered">
        <div class="content is-large" style="">
            <h1 class="title">
                Welcome to Ed-You.
            </h1>
            <p class="subtitle">
                Education focused on YOU: 
                <br>
                Revolutionizing student-teacher feedback with AI.
            </p>
            <a href= "/student-portal">
                <button class="button is-link is-outlined">
                    Student
                </button>
            </a>

            <a th:href="@{/oauth2/authorization/google}">
                <button class="button is-link is-outlined">
                    Admin
                </button>
            </a>
        </div>
    </div>
</section>
</body>
</html>