<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/general.html :: head}">
</head>
<body>

<section class="section" style="align-items: center;">
    <div class="container has-text-centered">
        <div class="content is-large">
        <form action="/student-feedback" method="get" autocomplete="off">
            <div class="block">
            <h1 class="title">
            Enter your school code.
            </h1>
            </div>

            <div class="block">
            <p class="subtitle">
                To find your school code, please ask administration at your school.
            </p>
            </div>

            <div class="block">
                <input class="input is-link" type="text" name="code" id="code" style="width: 33%" placeholder="Enter school code....">
            </div>

            <div class="block">
                <button class="button is-link is-outlined">Enter</button>
            </div>
        </form>
        </div>
    </div>
</section>


<!--<form action="/student-feedback" method="get" autocomplete="off">-->
<!--    <label for="code">Provided School Code</label>-->
<!--    <input type="text" name="code" id="code" placeholder="ABC123">-->
<!--    <button type="submit">Submit</button>-->
<!--</form>-->

</body>
</html>